/elpa/
/eln-cache/
/eshell/
/backup/
/transient/
/auto-save-list/
/.cache/
/url/
/custom.el
/tramp
/history
/.org-id-locations
/projects
/projectile-bookmarks.eld
/projectile.cache
/tree-sitter/
/recentf
/annotations
